doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='stylesheets/form/style.css')
    script(src='stylesheets/website1/js/jquery-1.10.2.min.js', type='text/javascript')
  body
    header
      h1 Startup Website Generator 
    .container
      .main-content
        form(action='/website', method='post')
          div
            label(for='name') Company Name:
            input(type='text', name='company[name]')
          div
            label(for='slogan') Slogan:
            input(type='text', name='company[slogan]')
          div
            label(for='industry') Industry:
            input(type='text', name='company[industry]')
          div#images
            label(for='imgs') Images:
            div
            span.imageBox
              input(type='radio', name='images', value='img1')
              label(for='img1')
                img#image1(src='https://upload.wikimedia.org/wikipedia/commons/4/4d/Vanderbilt_Commodores.png')
            span.imageBox
              input(type='radio', name='images', value='img2')
              label.image(for='img2')
                img#image2(src='http://theartmad.com/wp-content/uploads/2015/09/Ocean-Sunset-4.jpg')
            span.imageBox
              input(type='radio', name='images', value='img3')
              label.image(for='img3')
                img#image3(src='http://richthediabetic.com/wp-content/uploads/2013/07/Pizza.jpg')
          div
            label(for='year_founded') Year Founded:
            input(type='number', name='company[year_founded]') 
          .button
            button(type='submit') Generate Website 
 
    footer
      p Running on Node with Express, Jade, and Stylus
