doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/form/style.css')
  body
    header
      h1 Startup Website Generator 
    .container
      .main-content
        form(action='/website', method='post')
          div
            label(for='name') Company Name:
            input(type='text', name='company[name]')
          div
            label(for='slogan') Slogan:
            input(type='text', name='company[slogan]')
          div
            label(for='industry') Industry:
            input(type='text', name='company[industry]') 
          .button
            button(type='submit') Generate Website 
 
    footer
      p Running on node with Express, Jade, and Stylus
