body {
    text-align: center;
}
.mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}
.mdl-textfield__error {
    width: 100%;
    left: 0;
    text-align: center;
}
header {
    margin-top: 400px;
}
a.radio-picture {
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    text-decoration: none;
    width: 50px;
}
.input-hidden {
    position: absolute;
    left: -9999px;
}
input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}
img {
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
}